KillFeed {
    position: absolute;
    top: 0;
    right: 0;
    gap: 0px;
    flex-direction: column;
    align-items: flex-end;
    font-family: Poppins;
    font-weight: 700;
    transition: all 1s ease-in-out;


    .entry {
        padding: 4px 16px;
        margin: 20px;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
        border-radius: 12px;
        transition: all 1s ease-in-out;
        transform: scale(1);

        &:intro {
            opacity: 0;
            transform: scale(0);
        }

        &:outro {
            opacity: 1;
            transform: scale(0);
        }

        .method {
            gap: 8px;
            align-items: center;
        }

        .icon {
            height: 24px;
            width: 60px;
            justify-content: center;
            align-items: center;

            Icon {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transform: rotateZ(180deg) rotateX(180deg);
            }
        }

        .attacker, .victim {
            background-color: rgba( white, 1 );
            color: black;
            padding: 16px;
            border-radius: 2px;
        }
    }
}
