@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

<root>
	@foreach ( var entry in Entries )
	{
		<div class="entry">
            @if ( entry.Victim is not null )
            {
                <div class="victim">
	                <label style="color:@entry.VictimColor.Hex">@entry.Victim died</label>
                </div>
            }
        </div>
	}
	
</root>

@code
{
	private static KillFeed Instance { get; set; } = null;

	private List<KillFeedEntry> Entries { get; set; } = new();
	private float Lifetime => 10f;


	public KillFeed()
	{
		Instance = this;
	}

	public record KillFeedEntry(string Victim, Color VictimColor, RealTimeSince TimeSinceAdded )
	{
		public string VictimIcon => Victim.Replace( "icon:", "" );
	}

	
	[Broadcast] 
	public static void BroadcastKillFeedEvent(string victim, Color victimColor)
	{
		Instance.Entries.Add( new KillFeedEntry(victim, victimColor, 0 ) );
		Instance.StateHasChanged();
	}

	
	public override void Tick()
	{
		// Limit entries so we don't get too busy
		Entries = Entries.TakeLast( 5 ).ToList();

		// Did we remove something?
		if ( Entries.RemoveAll( x => x.TimeSinceAdded > Lifetime ) > 0 )
		{
			StateHasChanged();
		}
	}

}
