Popup {
    font-family: Poppins;
    flex-direction: column;
    transition: all 2.5s ease-in-out;
    opacity: 1;
    font-weight: 800;
    transform: scale(1);

    &:intro {
        opacity: 0;
        transform: scale(0);
    }

    &:outro {
        opacity: 1;
        transform: scale(0);
    }

    .popup-title {
        justify-content: center;
        padding: 8px;
        font-size: 30px;
        color: white;
    }

    .popup-text {
        justify-content: center;
        padding: 8px;
        font-size: 50px;
        color: white;
    }
}
