@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Utility;
@inherits PanelComponent

<root>
	@if (!AllowedSteamIds.Contains(Steam.SteamId))
	{
		<div style="width: 600px;">
			<div class="title">@MyStringValue</div>
		</div>
	}
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	[Property] public List<ulong> AllowedSteamIds { get; set; } = new List<ulong> { 76561199001645276, 76561198043979097 };

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
