PropHuntUI {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	.round-timer {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 15%;
		top: 0;
	}

	.title {
		padding: 10px;
		font-size: 25px;
		font-family: Lexend;
		font-weight: 600;
		justify-content: center;
		background-color: #00000076;
		color: #fff;
	}

	.health
    {
        background-color: #0004;
        border-radius: 3px;
        padding: 10px 20px;
        color: white;
        font-weight: bolder;
        font-size: 30px;
        font-family: poppins;
        justify-content: center;
        align-items: center;
        gap: 16px;
        backdrop-filter: blur( 20px );

        .value
        {
        }

        .icon
        {
            font-family: Material Icons;
            opacity: 0.2;
        }

        .subvalue
        {
            padding-top: 6px;
            opacity: 0.5;
            font-size: 16px;
        }
    }


	.inventory {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 250px;
		bottom: 50px;
		right: 50px;

		font-family: Lexend;
		font-weight: 500;

		overflow: hidden;

		.item {
			background-color: #0004;
			border-radius: 3px;
			padding: 5px 10px;
			color: white;
			font-weight: bolder;
			font-size: 30px;
			font-family: poppins;
			justify-content: center;
			align-items: center;
			gap: 16px;
			backdrop-filter: blur(20px);
			transition: all 0.1s ease;
			flex-direction: row;
			display: flex;
		
			.number {
				height: 50px;
				justify-content: center;
				align-items: center;
				font-size: 25px;
				width: 50px;
			}
		
			.weapon {
				color: white;
				flex-grow: 1;
				padding: 8px;
				font-size: 30px;
				
				justify-content: space-between;
			}
			&.active {
				background-color: #00000080; // Slightly darker background for active items
			}
		}
	}

	.left {
		align-self: flex-start;
	}

	.right {
		align-self: flex-end;
	}
}
