@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@if (Manager is not null)
{
	<root>
	<div class="round-timer">
		<div class="title" style="background-color: rgba(0, 0, 0, 0.4)">@Manager.Countdown</div>
		<div class="title" style="background-color: rgba(0, 0, 0, 0.65)">@Manager.CurrentGameState</div>
	</div>
	@if (Player.Local is not null)
	{
		<div class="health">
		+ <strong>@(Player.Local.Health)</strong>
	</div>
	}
	<div class="inventory">
		<div class="item">
			<div class="number">1</div>
			<div class="weapon">pistol</div>
		</div>
		<div class="item">
			<div class="number">2</div>
			<div class="weapon">not a pistol</div>
		</div>
		<div class="item">
			<div class="number">3</div>
			<div class="weapon">shotgun</div>
		</div>
		<div class="item">
			<div class="number">4</div>
			<div class="weapon">rifle</div>
		</div>
	</div>

	<Scoreboard/>

	<div class="right"></div>
</root>
}


@code
{
	public PropHuntManager Manager { get; set; }
	protected override void OnStart()
	{
		Manager = Scene.GetAllComponents<PropHuntManager>().FirstOrDefault();
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
