@using Sandbox;
@using Sandbox.UI;
@using PropHunt;
@inherits PanelComponent

<root>
	<div class="props">
		<div class="header">Props</div>
		<div class="container">
			@foreach (var player in PropHuntManager.GetPlayers(Team.Props))
			{
				<div class="prop">
					<img class="avatar" src="@GetAvatar(player.Network.Owner.SteamId)" />
					<div class="name">@player.Network.Owner.DisplayName</div>
				</div>
			}
		</div>
	</div>
	<div class="hunters">
		<div class="header">Hunters</div>
		<div class="container">
			@foreach (var player in PropHuntManager.GetPlayers(Team.Hunters))
			{
				<div class="hunter">
					<img class="avatar" src="@GetAvatar(player.Network.Owner.SteamId)" />
					<div class="name">@player.Network.Owner.DisplayName</div>
				</div>
			}
		</div>
	</div>
</root>

@code
{

	public TeamComponent TeamComponent { get; set; }

	public string GetAvatar(ulong steamId)
	{
		return $"avatar:{steamId}";
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
