Health {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 10px;
    margin: 25px;
    min-width: 12%;
    border-radius: 15px;
    border-bottom: 5px solid rgb(51, 141, 209);

    justify-content: center;
    align-items: center;

    background-color: rgba(56, 56, 56, 0.2);
    backdrop-filter: blur(5px);


    h1 {
        color: white;
        font-size: 80px;
        font-weight: 600;
        font-family: Roboto;
        text-shadow: 1px 1px 3px black;
    }
}
