@using Sandbox.UI;
@using Sandbox
@using GameManager = global::GameManager
@inherits Panel

<root class="@(Input.Down("Score") ? "" : "hidden")">

	@{
		var mapInstance = Game.ActiveScene.GetAllComponents<CustomMapInstance>().FirstOrDefault();
	}
	<div class="right" style="flex-direction: column; margin-bottom: 20px; gap: 10px">
		<h1 class="grow header">PROP HUNT</h1>
		<div class="grow paragraph">
			<img class="icon-small" style="border-radius: 16px;" src="@( mapInstance?.CurrentMap?.Thumb )"/>
			<div>playing on @( mapInstance?.CurrentMap?.Title )</div>
		</div>
	</div>

	<div class="scoreboard-bottom">
		<div class="player-list">

			<div class="team-header">
				<img class="icon-small" src="ui/teams/props_team.png"/>

				PROPS
			</div>
			@foreach ( var conn in Connection.All )
			{
				<div class="entry">
					<img src=@( $"avatar:{conn.SteamId}" ) class="avatar"/>
					<label class="name">@conn.DisplayName</label>
				</div>
			}

		</div>
		<div class="player-list">
			<div class="team-header">
				<img class="icon-small" src="ui/teams/hunters_team.png"/>

				HUNTERS
			</div>
		</div>
	</div>

	<label class="paragraph">Spectators: SourceTV</label>


</root>


@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine( Input.Down( "score" ) );
	}
}
