@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]


<root>
	@if (Player.Local is not null)
	{
		<div>
			<div>Turn into Prop / Interact</div>
			<img class="input-glyph" src="@Use?.ResourcePath">
		</div>
		<div>
			<div>Attack</div>
			<img class="input-glyph" src="@Attack1?.ResourcePath">
		</div>
		<div>
			<div>Lock Rotation</div>
			<img class="input-glyph" src="@Attack2?.ResourcePath">
		</div>
		<div>
			<div>Grab</div>
			<img class="input-glyph" src="@Grab?.ResourcePath">
		</div>
		<div>
			<div>Taunt</div>
			<img class="input-glyph" src="@Taunt?.ResourcePath">
		</div>
		<div>
			<div>Exit Prop</div>
			<img class="input-glyph" src="@LeaveProp?.ResourcePath">
		</div>
		@if (Input.UsingController)
		{
			<div>
				<div>Next Weapon</div>
				<img class="input-glyph" src="@DPadEast?.ResourcePath">
			</div>
			<div>
				<div>Previous Weapon</div>
				<img class="input-glyph" src="@DPadWest?.ResourcePath">
			</div>
		}
	}
</root>

@code {
	public Texture Use { get; set; }
	public Texture Attack1 { get; set; }
	public Texture Attack2 { get; set; }
	public Texture Grab { get; set; }
	public Texture Taunt { get; set; }
	public Texture LeaveProp { get; set; }
	public Texture DPadEast { get; set; }
	public Texture DPadWest { get; set; }

	public override void Tick()
	{
		Use = Input.GetGlyph("use", InputGlyphSize.Large, false);
		Attack1 = Input.GetGlyph("Attack1", InputGlyphSize.Large, false);
		Attack2 = Input.GetGlyph("Attack2", InputGlyphSize.Large, false);
		Grab = Input.GetGlyph("Flashlight", InputGlyphSize.Large, false);
		Taunt = Input.GetGlyph("Taunt", InputGlyphSize.Large, false);
		LeaveProp = Input.GetGlyph("View", InputGlyphSize.Large, false);
		if (Input.UsingController)
		{
			DPadEast = Input.GetGlyph("nextweapon", InputGlyphSize.Large, false);
			DPadWest = Input.GetGlyph("prevweapon", InputGlyphSize.Large, false);
		}
		base.Tick();
	}

	protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
