Scoreboard {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50vw;
    background-color: #000000b9;
    pointer-events: all;
    transition: all 0.1s ease-in-out;
    border-radius: 24px;

    .teams {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 20px;
        gap: 20px;

        .title {
            border-radius: 24px;
            flex-direction: column;
        }

        .team-player-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #2e2e2e87;
            border-radius: 24px;
            overflow-y: scroll;

            flex-grow: 1;

            .player {
                flex-direction: row;
                flex-shrink: 0;
                padding: 20px;
                font-size: 30px;
                color: white;


                .avatar {
                    min-width: 30px;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

                .name {
                    margin-left: 15px;
                    flex-grow: 1;
                }
            }
        }
    }

    &.hidden {
        opacity: 0;
    }
}
