@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@foreach (var player in Scene.GetAllComponents<Player>())
	{
		<div class="title">@player.GameObject.Network.OwnerConnection.DisplayName: @player.TeamComponent.TeamName</div>
	}
</root>

@code
{

	public TeamComponent TeamComponent { get; set; }

	protected override void OnUpdate()
	{
		TeamComponent = Scene.GetAllComponents<TeamComponent>().FirstOrDefault(x => !x.IsProxy);
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
