GameUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .grow {
    flex-grow: 1;
  }

  .header {
    font-size: 50px;
    color: white;
  }
}
