MenuUi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
    pointer-events: all;
    transition: all 1s ease-in-out;
    font-family: Integral CF;

    &:intro {
        opacity: 0;
        transform: scaleX(1.1);
    }



    .top-section {
        display: flex;
        width: 100%;
    }

    .social-icon {
        padding: 15px;
        margin: 10px;
        border-radius: 8px;
    }

    .settings-icon {
        padding: 18pxpx;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(12);
        box-shadow: 0px 0px 0px 8px rgba(0, 0, 4, 0.548);
        border-radius: 8px;

        svg {
            height: 49px;
            width: 49px;
        }
    }

    .settings-icon:hover {
        box-shadow: 0px 0px 0px 12px rgba(0, 0, 4, 0.548);
        border-radius: 100px;
        transition: all 150ms ease;
    }

    .matte {
        background-color: rgba(0, 0, 0, 0.5);
        border: 3px rgba(141, 141, 141,);
        backdrop-filter: blur(12);
    }

    .matte:hover {
        border-radius: 100px;
        transition: all 150ms ease;
    }



    .red {
        background-color: rgba(255, 0, 0, 0.32);
        border: 3px solid #FF5353;
        backdrop-filter: blur(12);
    }

    svg {
        height: 43px;
        width: 43px;
    }

    .red:hover {
        border-radius: 100px;
        transition: all 150ms ease;
    }



    .game-title {
        font-weight: 700;
        font-size: 128px;
        color: #f0f0f0;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.493);
        font-weight: 500;
        margin-bottom: 20px;
    }

    .controls {
        position: absolute;
        flex-direction: column;
        gap: 8px;
        left: 64px;
        bottom: 160px;
        color: #f0f0f0;

        .buttons {
            flex-direction: row;
        }
    }

    .button {
        font-size: 40px;
        padding: 5px;
        background-color: rgba(88, 255, 85 / 0.65);
        color: rgba(28, 32, 36);
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-weight: 800;
        backdrop-filter: blur(22);
        width: 275px;
        box-shadow: 0px 0px 0px 8px rgba(0, 0, 4, 0.548);
        margin-right: 30px;
    }

    .button:hover {
        box-shadow: 0px 0px 0px 12px rgba(0, 0, 4, 0.548);
        border-radius: 100px;
        transition: all 150ms ease;
    }
}
