MenuUi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #f0f0f0;
    pointer-events: all;
    transition: all 1s ease-in-out;
    font-family: Integral CF;

    &:intro {
        opacity: 0;
        transform: scaleX(1.1);
    }

    .game-title {
        font-weight: 700;
        font-size: 128px;
        color: #f0f0f0;
        text-shadow: 1px 1px 10px black;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .controls {
        position: absolute;
        flex-direction: column;
        gap: 8px;
        left: 64px;
        bottom: 180px;
        color: #f0f0f0;
    }

    .button {
        font-size: 40px;
        padding: 15px;
        background-color: rgb(0, 255, 0 / 0.7);
        color: black;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-weight: 800;
        border: 8px rgb(49, 49, 49, 0.5);
        backdrop-filter: blur(22);
        max-width: 275px;
    }
}
