{
  "Version": 2,
  "Mixers": {
    "Guid": "a90da2bd-4901-40de-8082-a21d0d3e1abd",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "4a0d91f9-a45e-4362-8c70-ce0ea2047a3b",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "67c62b11-bd6e-4eac-9f40-af3ceab40f9d",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [
          {
            "Effect": "concrete.small",
            "Enabled": true,
            "Mix": 1,
            "__type": "DspProcessor"
          }
        ],
        "Children": []
      },
      {
        "Guid": "77d4450c-0ce1-46f8-a26b-a1fea9277336",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "0aba6df8-0807-4d7f-a49b-584f8729d9aa",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}