@using Sandbox
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]

<root>
	<div>gijgfgodlpgfgpfddfgfdgdfgd</div>
</root>

@code
{
	
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( RealTime.Now.CeilToInt() );
}
